[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fake-useragent = "*"
lxml = "*"
bs4 = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
